{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
    <form action="/admin" method="post">
        <div class="form-group">
            <label for="actions">Choose an action to perform</label>
            <select class="form-control" name="actions" id="actions">
                <option value="check">Check</option>
                <option value="scrabble">Add 3-5 letter words from Collins Scrabble word list</option>
                <option value="5char">Add generated 5 letter words of 13 formats 94% coverage</option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}