{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Domain Name</th>
                <th class="text-end">Status</th>
                <th class="text-end">Domain expiry</th>
                <th class="text-end">Searched on</th>
            </tr>
        </thead>
        <tbody>
            {% for domain in domains %}
                <tr>
                    <td class="text-start">{{ domain["domain_name"] }}</td>
                    <td class="text-end">
                        {% if domain["available"] == 0 %}
                            registered
                        {% else %}
                            available
                        {% endif %}
                    </td>
                    <td class="text-end">{{ domain["expires_at"] }}</td>
                    <td class="text-end">{{ domain["checked_at"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}